{% extends "base.html" %}

{% block content %}

    <p>Hola {{primer_nombre}} {{segundo_nombre}} al sitio privado exclusivo para clientes y proveedores de TeLoVendo. Acá podrán enterarse de lo último de nuestra empresa.</p>

    <div class="card-group m-1 mt-5 mb-3">
        <div class="card m-1">
            <img src="https://picsum.photos/id/668/400/100" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Últimas noticias</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Apertura nueva tienda en Papudo.</li>
                    <li class="list-group-item">Nuevo horario tienda Viña del Mar.</li>
                    <li class="list-group-item">Nuevas maneras de pago.</li>
                </ul>
            </div>
        </div>
        <div class="card m-1">
            <img src="https://picsum.photos/id/445/400/100" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Novedades</h5>
                <p class="card-text">Cras nec nibh ac tellus volutpat blandit non ut neque. Integer eu sem nec eros placerat convallis. Ut fringilla hendrerit laoreet. Ut convallis nisl magna, in rutrum nulla volutpat ut. Donec consectetur pharetra nibh sit amet laoreet. Phasellus luctus tortor non molestie luctus. Nam commodo maximus velit vel bibendum.</p>
            </div>
        </div>
        <div class="card m-1">
            <img src="https://picsum.photos/id/20/400/100" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Campañas</h5>
                <p class="card-text">Quisque vitae volutpat erat, ut scelerisque eros. In interdum vitae nisl in facilisis. Cras nec lobortis mi, nec aliquam augue. Curabitur facilisis velit venenatis ante consequat vulputate. Suspendisse eu ex mollis, finibus nulla a, rhoncus ex.</p>
                <div class="d-flex justify-content-center">
                </div>
            </div>
        </div>
        <div class="card m-1">
            <img src="https://picsum.photos/id/370/400/100" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Tú contacto</h5>
                <div class="card-header fw-bold">
                    Jorge Santibañez
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Teléfono: 32 265 9850</li>
                    <li class="list-group-item">Móvil WhatsApp: 9 9850 9856</li>
                    <li class="list-group-item">Email: jsantibanez@telovendo.cl</li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}