{% extends "base_proveedores.html" %}

{% block content %}

    <p>Hola {{primer_nombre}} {{segundo_nombre}} al portal interno para proveedores de TeLoVendo. Acá podrán enterarse de lo último de nuestra empresa.</p>

    <div class="card-group m-1 mt-5 mb-3">
        <div class="card m-1">
            <img src="https://picsum.photos/id/668/400/100" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Últimas noticias</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Apertura nueva tienda en Papudo.</li>
                    <li class="list-group-item">Nuevo horario tienda Viña del Mar.</li>
                    <li class="list-group-item">Nuevas maneras de pago.</li>
                </ul>
            </div>
        </div>
        <div class="card m-1">
            <img src="https://picsum.photos/id/20/400/100" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Formulario de consultas para proveedores</h5>
                <div class="d-flex justify-content-center m-4">
                    {% if mensajes and mensajes.enviado %}
                        <div class="alert alert-success mt-3" role="alert">
                            {{ mensajes.resultado }}
                        </div>
                    {% endif %}
                    {% if mensajes and not mensajes.enviado %}
                        <div class="alert alert-danger mt-3" role="alert">
                            <h5>Errores en los siguientes campos:</h5>
                            {{ mensajes.resultado }}
                        </div>
                    {% endif %}
                    </div>
                
                    <div class="d-flex justify-content-center">
                        <form method="post" action="{% url 'sitiointerno-proveedores' %}" class="formusers" >
                            {% csrf_token %}
                            {% for campo in form %}
                            <div class="row m-1">
                                <strong class="col-2 col-form-label"><label for="{{ campo.id_for_label }}">{{ campo.label }}</label></strong>
                                <div class="col-10">
                                    {{ campo }} 
                                    {% if campo.help_text %}
                                        <div class="form-text">{{ campo.help_text }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            {% endfor %}
                
                            <div class="d-flex justify-content-center m-4">
                                <button type="submit" class="btn btn-primary">Enviar mensaje</button>
                            </div>
                        </form>
                    </div>
                <div class="d-flex justify-content-center">
                </div>
            </div>
        </div>
        <div class="card m-1">
            <img src="https://picsum.photos/id/370/400/100" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Tú contacto</h5>
                <div class="card-header fw-bold">
                    Jorge Santibañez
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Teléfono: 32 265 9850</li>
                    <li class="list-group-item">Móvil WhatsApp: 9 9850 9856</li>
                    <li class="list-group-item">Email: jsantibanez@telovendo.cl</li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}