{% extends "base_trabajadores.html" %}

{% block content %}

    <p>Hola {{primer_nombre}} {{segundo_nombre}} al portal interno para trabajadores de TeLoVendo. Acá podrán enterarse de lo último de nuestra empresa.</p>

    <div class="card-group m-1 mt-5 mb-3">
        <div class="card m-1">
            <img src="https://picsum.photos/id/668/400/100" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Tareas pendientes</h5>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Llamada a WebConstructores por diseño de gestor de clientes.</li>
                    <li class="list-group-item">Visitar nueva tienda de Viña del Mar por temas administrativos.</li>
                    <li class="list-group-item">Evaluar venta de comida de mascotas.</li>
                </ul>
            </div>
        </div>
        <div class="card m-1">
            <img src="https://picsum.photos/id/445/400/100" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Novedades</h5>
                <p class="card-text">Cras nec nibh ac tellus volutpat blandit non ut neque. Integer eu sem nec eros placerat convallis. Ut fringilla hendrerit laoreet. Ut convallis nisl magna, in rutrum nulla volutpat ut. Donec consectetur pharetra nibh sit amet laoreet. Phasellus luctus tortor non molestie luctus. Nam commodo maximus velit vel bibendum.</p>
            </div>
        </div>
        <div class="card m-1">
            <img src="https://picsum.photos/id/20/400/100" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Consultas de proveedores</h5>
                <table class="table table-light table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Proveedor</th>
                            <th scope="col">Asunto</th>
                            <th scope="col">Consulta</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for consulta in consultas %}
                        <tr>
                            <td>{{ consulta.proveedor }}</td>
                            <td>{{ consulta.asunto }}</td>
                            <td>{{ consulta.mensaje }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>

{% endblock %}