{% extends "base.html" %}
        
    {% block content %}
    <div>
        <form method="post" action="{% url 'contactoProveedores' %}">
            {% csrf_token %}
            <div class="row m-1">
                <div class="col-1"><label for="id_nombre_proveedor">Nombre:</label></div>
                <div class="col-3"><input type="text" name="nombre_proveedor" placeholder="Ingrese el nombre del Proveedor" maxlength="50" required id="id_nombre_proveedor" size="50"></div>
                <div class="col-1"><label for="id_razon_social">Razón Social:</label></div>
                <div class="col-3"><input type="text" name="razon_social" placeholder="Ingrese su Razon Social" maxlength="50" minlength="5" required id="id_razon_social" size="50"></div>
            </div>
            <div class="row m-1">
                <div class="col-1"><label for="id_rut">RUT:</label></div>
                <div class="col-3"><input type="text" name="rut" placeholder="" maxlength="12" required id="id_rut"></div>
                <div class="col-1"><label for="id_giro">Giro:</label></div>
                <div class="col-3"><input type="text" name="giro" placeholder="" maxlength="30" required id="id_giro" size="50"></div>
            </div>
            <div class="row m-1">
                <div class="col-1"></div>
                <div class="col-3"></div>
                <div class="col-1"></div>
                <div class="col-3"></div>
            </div>
            <div class="row m-1">
                <div class="col-1"><label for="id_categoria">Categoria:</label></div>
                <div class="col-9"><input type="text" name="categoria" required id="id_categoria" size="136" ></div>
            </div>
            <div class="row m-1">
                <div class="col-1"><label for="id_productos">Productos:</label></div>
                <div class="col-9"><textarea name="productos" cols="139" rows="5" required id="id_productos"></textarea></div>
            </div>
            <div class="row m-1">
                <div class="col-1"><label for="id_contacto">Nombre del contacto:</label></div>
                <div class="col-9"><input type="text" name="contacto" required id="id_contacto" size="136"></div>
            </div>
            <div class="row m-1">
                <div class="col-1"><label for="id_telefono">Teléfono:</label></div>
                <div class="col-3"><input type="text" name="telefono" required id="id_telefono" size="50"></div>
                <div class="col-1"><label for="id_email">Email:</label></div>
                <div class="col-3"><input type="email" name="email" required id="id_email" size="50"></div>
            </div>
            <div class="row m-1">
                <div class="col-1"><label for="id_direccion">Direccion:</label></div>
                <div class="col-3"><input type="text" name="direccion" placeholder="" required id="id_direccion" size="50"></div>
                <div class="col-1"><label for="id_comuna">Comuna:</label></div>
                <div class="col-3"><input type="text" name="comuna" placeholder="" required id="id_comuna" size="50"></div>
            </div>
            <div class="row-m1">
                <div class="col"><button type="submit">Enviar formulario</button></div>
            </div>
        </form>
    </div> 
    {% endblock %}
