{% extends "base.html" %}
{% load static %}

    {% block content %}
    <div>
        <div class="row m-4">
            <div class="col-md-6">
                <p>¡Nos complace invitarte a formar parte de nuestra red de proveedores! En nuestro constante compromiso por ofrecer productos y servicios de calidad, estamos buscando proveedores confiables y comprometidos que puedan satisfacer nuestras necesidades.</p>
                <p>Como proveedor, tendrás la oportunidad de colaborar con nosotros en diferentes proyectos y contribuir a nuestro crecimiento mutuo. Valoramos la calidad, la eficiencia y la ética en los negocios, por lo que estamos interesados en establecer relaciones sólidas y duraderas con proveedores que compartan nuestros valores.</p>
                <p>Para unirte a nuestra red de proveedores, te pedimos que completes el siguiente formulario de registro. Este formulario nos ayudará a conocerte mejor y evaluar si cumples con los requisitos necesarios para trabajar con nosotros. Asegúrate de proporcionar información precisa y detallada para facilitar el proceso de evaluación.</p>
            </div>
            <div class="col-md-6">
                <img src="{% static 'images/saludo.jpg' %}" class="img-fluid rounded mx-auto d-block" alt="Saludo entre dos personas">
            </div>
        </div>
    </div>

    <div>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
            {% if mensajes and mensajes.enviado %}
                <div class="alert alert-success mt-3" role="alert">
                    {{ mensajes.resultado }}
                </div>
            {% endif %}
            {% if mensajes and not mensajes.enviado %}
                <div class="alert alert-danger mt-3" role="alert">
                    <h5>Errores en los siguientes campos:</h5>
                    {{ mensajes.resultado }}
                </div>
            </div>
            <div class="col-3"></div>
        {% endif %}
        </div>

        <form method="post" action="{% url 'contactoproveedores' %}">
        {% csrf_token %}
        <div class="form-group">
        {% for campo in formulario %}
            <div class="row m-2">
                <strong class="col-2 col-form-label"><label for="{{ campo.id_for_label }}">{{ campo.label }}</label></strong>
                <div class="col-10">
                    {{ campo }} 
                    {% if campo.help_text %}
                        <div class="form-text">{{ campo.help_text }}</div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
            <div class="d-flex justify-content-center m-4">
                <button type="submit" class="btn btn-primary m-1">Enviar formulario</button> <button type="reset" class="btn btn-secondary m-1">Limpiar formulario</button>
            </div>
        </div>
        </form>

        
    </div> 
    {% endblock %}
