{% extends "base.html" %}
        
    {% block content %}
        <p>Somos un distribuidor de productos ubicado en la Región de Valparaíso, con tiendas en:</p>
        <ul class="list-group">
            <li class="list-group-item">Valparaíso</li>
            <li class="list-group-item">Viña del Mar</li>
            <li class="list-group-item">Quillota</li>
            <li class="list-group-item">San Antonio</li>
            <li class="list-group-item">Quintero</li>
            <li class="list-group-item">San Felipe</li>
            <li class="list-group-item">Los Andes</li>
        </ul>
    {% endblock %}
