{% extends "base.html" %}

        {% block content %}

        <table class="table m-3">
            <thead>
                <th scope="col">Imagen de perfil</th>
                <th scope="col">Nombre de usuario</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Ubicación</th>
                <th scope="col">Comentario</th>
                <th scope="col">Nota</th>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                <tr>
                    <td><img src="{{usuario.imagen}}" alt="Imagen de perfil de {{usuario.nombre}} {{usuario.apellido}}"></td>
                    <td>{{usuario.userid}}</td>
                    <td>{{usuario.nombre}}</td>
                    <td>{{usuario.apellido}}</td>
                    <td>{{usuario.ubicacion}}</td>
                    <td>{{usuario.comentario}}</td>
                    <td>{{usuario.puntaje}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endblock %}